<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome</h1>
<video controls preload="metadata">
    <source src="https://rr3---sn-8qj-q5qel.googlevideo.com/videoplayback?expire=1666591685&ei=ZddVY_Z4yZCpAeSHgNgI&ip=14.236.4.248&id=o-AFC79c8yAZmLFXLSd61wMZps-C9Zo15XbHowCVYp68ao&itag=22&source=youtube&requiressl=yes&mh=-G&mm=31%2C29&mn=sn-8qj-q5qel%2Csn-i3belne6&ms=au%2Crdu&mv=m&mvi=3&pcm2cms=yes&pl=25&initcwndbps=1533750&vprv=1&mime=video%2Fmp4&cnr=14&ratebypass=yes&dur=296.031&lmt=1575180274501354&mt=1666569667&fvip=4&fexp=24001373%2C24007246&c=ANDROID&txp=5535432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Ccnr%2Cratebypass%2Cdur%2Clmt&sig=AOq0QJ8wRQIgWWnQMt0qEcJKb1NN-DHKVa3PqVTqre-GgJM_2YYLu8QCIQD-kKHxovr-s7UuK0EV2mfFJixoPE3qwmE4OJc09AfIdg%3D%3D&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpcm2cms%2Cpl%2Cinitcwndbps&lsig=AG3C_xAwRAIgJGS6koTo1aoLW97K2Lr_CBDLLND3QrdpRU4hVX1PIl8CICtyfQvLx5NPzRBX1cWqEcGnS9kf-C8Z_AX8u0_zeGUa" type="video/mp4" />
</video>
</body>
</html>